<div class="modal modal-lg" id="ncONUModal" tabindex="-1" role="dialog" aria-labelledby="modalTitle" data-backdrop="static" data-keyboard="false" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalTitle">Non Conformance ONU details : </h5>
                <h5 class="modal-title" id="nc_onu_prefix">-</h5>
                <button type="button" class="btn close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="nc_onu">
                    <table id="nc_onu_table" class="table table-striped" style="width:100%">
                        <thead>
                            <tr>
                                <th>ONU ID</th>
                                <th>NRSSP</th>
                                <th>Name</th>
                                <th>A@RX</th>
                                <th>ONU RX</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                        <tfoot>
                        </tfoot>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success close" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>