<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>AARX Dashboad app.</title>
        <!-- CSS (load bootstrap from a CDN) -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <div class="jumbotron">
            <h1>This is great</h1>
            <p>Welcome to templating using EJS</p>
            <h1>This is default app. Your should not see this App</h1>
            <div id="app"></div>
            <a href="/helloworld">Hello world!</a>
        </div>
    </body>
    <footer>
        <div id="footer"></div>
    </footer>
</html>