<div class="config_panel">
    <div class="card">
        <div class="card-header">
            <h3>Wan configurations</h3>
        </div>
        <div class="card-body">       
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">Name</span>
                <input id="wan_name" type="text" class="form-control" name="wan_name" placeholder="default" aria-label="wan_name" aria-describedby="basic-addon1" readonly>
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon2">Status</span>
                <input id="wan_status" type="text" class="form-control" name="wan_status" placeholder="default" aria-label="wan_status" aria-describedby="basic-addon2" readonly>
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon3">Uptime</span>
                <input id="wan_uptime" type="text" class="form-control" name="wan_uptime" placeholder="default" aria-label="wan_uptime" aria-describedby="basic-addon3" readonly>
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon4">IP Address</span>
                <input id="wan_ip_address" type="text" class="form-control" name="wan_ip_address" placeholder="default" aria-label="wan_ip_address" aria-describedby="basic-addon4" readonly>
            </div>
        </div>
        <div class="card-footer">
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <button class="btn btn-warning btn-reboot" id="reboot_button">Reboot</button>
                
                <button class="btn btn-info btn-refresh" id="refresh_button">Refresh</button>
                <button class="btn btn-success btn-save" id="save_button">Save</button>
            </div>
            
        </div>
    </div>
</div>
