<div class="config_panel">
    <div class="card">
        <div class="card-header">
            <h3>Port forward</h3>
        </div>
        <div class="card-body">       
            <table class="table table-bordered table-hover" id="tablePortForward">
                <thead class="thead-dark"> 
                    <tr>
                        <th>No.</th>
                        <th>External port</th>
                        <th>Internal port</th>
                        <th>Local IP</th>
                        <th>Enable</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <button class="btn btn-warning js-btn-add-port-forward" id="btn_add_port_forward">Add</button>
            </div>
        </div>
        <div class="card-footer">
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <button class="btn btn-warning btn-reboot" id="reboot_button">Reboot</button>
                
                <button class="btn btn-info btn-refresh" id="refresh_button">Refresh</button>
                <button class="btn btn-success btn-save" id="save_button">Save</button>
            </div>
            
        </div>
    </div>
</div>
