<div class="config_panel">
    <div class="card">
        <div class="card-header">
            <h3>Device upgrade configurations</h3>
        </div>
        <div class="card-body">       
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">Software version</span>
                <input id="msg" type="text" class="form-control" name="msg" placeholder="default" aria-label="Username" aria-describedby="basic-addon1">
            </div>
        </div>
        <div class="card-footer">
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <button class="btn btn-warning btn-reboot" id="reboot_button">Reboot</button>
                
                <button class="btn btn-info btn-refresh" id="refresh_button">Refresh</button>
                <button class="btn btn-success btn-save" id="save_button">Save</button>
            </div>
            
        </div>
    </div>
</div>
