
    <footer>
        <div class="center_text mt-2" id="footer">
            <h5>
                New Easy Gateway system &copy; 2023 Astra Communication Service Co.,Ltd Version 1.0.0
            </h5>
        </div>
    </footer>
</div>
</body>
</html>