
    <footer>
        <div class="center_text" id="footer">
            <h6>New Easy Gateway system &copy; 2022 Astra Communication Service Co.,Ltd Version 1.0.0</h6>
        </div>
    </footer>
</div>
</body>
</html>