<div class="center_text">
    <div class="row">
        <div class="col-sm-2">
            <img src="/pub/img/aarx_logo.jpg" alt="Logo" class="menu_logo" />
        </div>
        <div class="col-sm-10">
        <h3 class="text text-info">Passive Optical Network quality index</h3>
        <div class="btn-group">
            <a href="/" class="btn btn-success">Main</a>
            <a href="/aarx_onu" class="btn btn-success">A@RX ONU</a>
            <a href="/tx_onu" class="btn btn-success">TX ONU</a>
            <% if(type == 'admin') { %>
                <a href="/user_man" class="btn btn-warning">User manage</a>
            <% } %>
            <a href="/user_setting" class="btn btn-warning"><%= fullname %>'s Setting</a>
            <button class="btn btn-danger" onclick="do_logout();">Logout</a>
        </div>  
    </div>
    </div>
</div>
<script type="text/javascript">
    function do_logout() {
        $.post('/logout',{}, function(res) {
            if(res.code == 0) {
                alert("Logged out complete.");
                window.location.href = '/login';
            } else {
                alert("Error occurred.");
            }
            //console.log('logged out' + res.msg);
        })
    }
</script>